$bg-color: #EBD8BA;
$gold: #edb745;
$foundationblack: #333333;
$scriptfont: "Libre Baskerville", serif;
$textfont: "Aparajita Bold";
$border: $gold 1px solid;
$blue:#003471;
$red:#800000;

body{
	font-family: $textfont;
		

	color:#363636;
	background-color: #e3e3e3;
	background-image:url() ;

}
header{

	background-color: #e3e3e3;
	width:100%;
	height: auto;
	z-index: 1;

}

header h1{
	color: green;
	position:absolute;
	text-align:center;
	margin-left: 50px;

}
header img{
	width:1124px;
	height:199px;
	float:left;
	
	margin-left: 5%;
}


nav{
	
	z-index: 5;
	height: 100%;
	font-family: $scriptfont;
	color:$gold;
	background-color: black;
}
nav a{
	font-size:24px;
	color:$gold;

}
nav li{
	font-size:24px;
	color:$gold;
}
nav a:hover{
	color:  #E6E5D3;

}
nav a:first-child{
		margin-left: 8%;

}
.ad img{
	width: 100%;
	margin-bottom: 5%;
	border: 1px solid $gold;
}
.featured{
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 0px;
	margin-bottom: 2%;
	border: 1px solid $gold;
			border-radius: 1em;


}
.featured h3{
	font-size: .95em;
}
.usedbooks{
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 0px;
	margin-bottom: 2%;
	border: 1px solid $gold;
			border-radius: 1em;


}

.search .button{
	background-color: $foundationblack;
	color: $gold;
	font-family: $scriptfont;
		border-radius: 1em;
		font-size: 1.2em;
		padding: 3%;

}
.ebooks{
	font-family: $textfont;
	background-color: $bg-color;
	border: $gold 2px solid;
	padding: 2%;
	border-radius: 1em;

}

.featured img{
	width:50%;
	height:50%;
	position: relative;
	left: 25%;
}
.usedbooks img{
	width:50%;
	height:50%;
	position: relative;
	left: 25%;
}
.sociallinks{

}
.logo{
	margin-bottom: 5%;
	margin-top: 3%;
}
.sociallinks img{
	padding-top: 1%;
	padding-left: 1%;
}
.name img{
	
}
.featured p{
	text-align: center;

}
.usedbooks p{
	text-align: center;

}
.page h6{
	text-align: center;
}

.feature-bar {
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 0px;
	border: $border;
	font-size: 1.3em;
	border-radius: 1em;
}
.feature-bar img{
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%; 
}
.feature-bar p{
	font-size: .75em;
	text-align: center;
}
.feature-bar h3{
	font-size: .95em;
}
.bookclub{
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 5px;
	border-radius: 1em;

	padding-top: 2%;
	z-index: 2;
}
.bookclub p{
	margin: 5px;

}
.bookclubsmall{
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 5px;
	border-left: $border;
	border-right: $border;
	border-bottom: $border;
	padding-top: 2%;
	z-index: 2;
		border-radius: 1em;

}
.bookclubsmall p{
	margin: 5px;

}
.bookclub img{	
}
.clubinfo{
	font-size: .75em;
	
	margin:4px;

}
.clubtitle{
	font-size:1em;
	font-variant: bold;

}
.verticalLine {
    border-left: 2px solid black;
    position: absolute;
    left:5%;
    height:100%;
}
.bar .verticalLine{
	height: 100%;
	position: relative;
	border-left: 2px solid black;
}
a{
	color: #003471;
}

.events{
	background-color: $bg-color;
	border-left: $border;
	border-right: $border;
	border-top: $border;
	padding-bottom: 2%;
	z-index: 5;
		border-radius: 1em;


}
.staffpicks{
	background-color: $bg-color;
	border-left: $border;

	padding-bottom: 2%;
	z-index: 5;
}
.staffpicks p{
	left-margin: 5%;
}
.staffpicks img{
	padding-left: 5%;
}
.events p{
	left-margin: 5%;
	

	
}
.pick img{
	height:75%;
	width: 75%;
}
.events img{
	
}
.book{
	background-color: $bg-color;
	border: $border;	
	padding-left: 2%;
				border-radius: 1em;

}
.book h3{
	text-align: right;
}
.book p{
	margin: 5%;
}
.book h5{
	text-align: right;
}
.book img{
height:100%;
width: 100%;
margin-left: 5%;
}
.bookinfo h5{
	text-align: left;
}

.buybutton{
	padding-left: 30%;
}
.event{
	background-color: $bg-color;
	padding: 2%;
	border: $border;
				border-radius: 1em;
	

	
}
.event p{
	margin: 1%;
}
.event img{
	height: 100%;
	width: 100%;
}
.about{
	background-color: $bg-color;
				border-radius: 1em;


}
.about h4{
	margin-left:1%;
}
.contact-info{
	background-color: $bg-color;
	font-family: $textfont;
				border-radius: 1em;


}
.search{
	font-family: $scriptfont;
		
	margin-top: 9%;
	margin-bottom: 1%;

}
.nextpage{
	font-family: $scriptfont;
	font-size: 1.1em;
}
.bar{
	background-color: $gold;
	color: $foundationblack; 
		margin-top: 3%;
		font-size: 1.2em;
			font-family: $textfont;
			padding: .75%;
				border-radius: 1em;
				text-align: center;

	

}
#bookclubpicks{
	background-color: $bg-color;
		border: $border;
			border-radius: 1em;


}
.ebooks h4{
	font-size: 1.1em;
}
#bookclubpicks img{
	width: 75%;
	height: 75%;
}
#bookclubpicks p{
	padding: 5%;
}
#bookclubpicks h4{
	font-size: 1.5em;
}
hr{
	border-color:$red;
}
.bestsellers{
	border: $border;
	
	background-color: $bg-color;
	-webkit-box-sizing: border-box;
	min-width: 15%;
	z-index:3;
	padding: 0px;
		border-radius: 1em;

}
.bestsellers h3{
	font-size: 1.3em;
}
.bestsellers ol{
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 1em;

}
#authortext{
	font-size: 12px;
}
.top10{
	font-size:14px;
			border-radius: 1em;

}
.left-bar{
	background-color: $bg-color;
		border: $border;	
			border-radius: 1em;

}
.left-bar h4
{
font-size: 1.2em; }
.ads img{
		margin-top: 5%;
}
.usedbookbar{
	background-color: $bg-color;
		border: $border;
		padding: 2%;	
			border-radius: 1em;

}
.sortbooks{
	background-color: $bg-color;
		border: $border;
		padding: 2%;
		padding-left: 5%;	
			border-radius: 1em;
			font-family: $scriptfont;
}
.sortbooks ul{
	padding-left: 10%;
}
.sortbooks h3{
	font-size: 1.2em;
}
.left-bar h5{
	margin-left: 1%;
}
.staffpickbar{
font-family: $scriptfont;
	font-size: .8em;
	text-align: left;
}
.staffpickbar h4{
	font-size: 1.5em;
}
.bookclubgroups{
	background-color: $bg-color;
	font-family: $scriptfont;
	font-size: .8em;
			border-radius: 1em;

}
.bookclubgroups{
	margin-left: 1%;
}
.right-bar{
	background-color: $bg-color;


}
.policy{
	font-size: 5em;
}
.about img{
	border:1px solid $gold;
}
.about{
		border: $border;	

}
.about h4{
	font-size: 1.2em
}
.carousel{

	background-color: $gold;
	color: black;
	/*border: #800000 solid 2px;*/
}
.carousel img{
margin-top: 0%;
}
.mid-bar{
	width: 100%;
	background-color: $bg-color;
	min-width: 15%;
	padding: 0px;
}
#booktype{
	font-family: $scriptfont;
}
h3{
	text-align:center;
		font-family: $scriptfont;

}
h4{
	text-align: center;
		font-family: $scriptfont;

}
.incarousel{
	padding: 1%;
	font-size: 1em;
	font-family: $textfont;
}
.datecarousel{
	font-size: 1.1em;
		font-family: $scriptfont;
		text-align: center;

}

h5{
text-align:center;
	font-family: $scriptfont;
}
a{
		color:$blue;

}
a:hover{
	color: #005bc6;
}
span{
	color:$blue;
}
span:hover{
	color:  #005bc6;
}
footer{
	margin-top: 1%;
	clear: both;
	text-align: center;
	width: 500px;
	background-color: $foundationblack;
	width:100%;
	z-index: 5;
	color: $gold;
	font-style: bold;
}
footer img{
	margin-top: 2%;
	margin-left: 5%;
}

@media only screen and (max-width: 40em) { 
	.bar{
		margin-bottom: 2%;
		margin-top: 7.5%;	
		font-size: .75em;
		padding-top: 1%;
	}
	.ad{
		margin: 0%;
	}
	.search{
		margin-top: 7%;
	}
	footer img{
		margin-top: 20%;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.bar{
		margin-bottom: 2%;
		margin-top: 2%;
		font-size: .9em;
		padding-top: 1%;
	}
	.search{
		margin-top: 7%;
	}
	
}